//<Адаптив>===========================================================================================================================================
@media (max-width: 1500px) {
	._container {
		padding: 0 10px; 
	}
}

@media (max-width: 1330px) {
	.how-work-info {
    flex: 0 1 18%;}
}

@media (max-width: 1200px) {
	.how-work-info {
    flex: 0 1 19%;
    padding: 20px 25px;}
  .how-work-info:before {
    margin-bottom: 35px;}
}

@media (max-width: 1280px) {
	.header {
    padding: 10px 0;}
}

@media (max-width: 1050px) {
	.how-work-info h3 {
		font-size: 18px;}
}

@media (max-width: 1024px) {
	.logo-icon {
    flex: 0 0 180px;
    height: 80px;}
	.header__navigation {
    flex: 0 1 620px;
    justify-content: flex-end;}
	.bascket-icon {
		margin-left: 0;
		margin-right: 35px;}
	.header__menu-icon-block {
    flex: 0 1 200px;
    height: 100px;
    padding: 5px 20px 5px 45px;}
}

@media (max-width: 960px) {
	.how-work-info {
    flex: 0 1 19%;
    padding: 18px 20px;}
  .how-work-info:before {
    margin-bottom: 15px;}
	.how-work-info h3 {
		font-size: 16px;}
	.how-work-info:before {
		background-size: 80%;}
}

@media (max-width: 860px) {
	.logo-icon {
    flex: 0 0 180px;}
	.header__navigation {
    flex: 0 1 550px;}
  .header__contacts {
    flex: 0 0 230px;}
  .header__phone {
  	font-size: 30px;}
	.header__menu-icon-block {
    flex: 0 1 200px;
    padding: 5px 20px 5px 35px;}
}

@media (max-width: 812px) {
  .logo-icon {
  	height: 80px;}
	.header__navigation {
    flex: 0 1 500px;}
  .header__menu-icon-block {
  	height: 100px;}
	.how-work-info {
    flex: 0 1 19%;
    padding: 20px;}
  .how-work-info:before {
    margin-bottom: 10px;}
	.how-work-info h3 {
		font-size: 14px;}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;}
	.header-index {
		background: #fff;
		box-shadow: 0px 14px 18px -19px #000000;}
	.header__container { 
    padding-right: 10px !important;}
	.header__logo {
		margin-right: 20px;}
	.logo-icon {
		flex: 0 0 80px;
    height: 43px;}
	.icon-menu {
		display: block;
		flex: 0 0 20px;
    height: 14px;}
	.icon-menu span {
    top: 6px;}
  .icon-menu.active span:first-child { 
    top: 7px;}
  .icon-menu.active span:last-child {
    bottom: 5px;}
	.header__navigation {
		flex: 0 1 100%;
		align-items: center;}
	.header__contacts {
		flex: 0 0 145px;
    margin-right: 15px;}
  .header__menu-icon-block {
    flex: 0 0 20px;
    height: 20px;
    padding: 0;
		justify-content: flex-end;
    background: transparent;
    margin-top: 0;}
  .icon-menu span {
  	background: #FFBD1F;}
  .header__menu-icon-text {
  	display: none;}
  .bascket-icon {
  	flex: 0 0 23px;
  	height: 23px;
  	margin-top: -6px;
  	margin-right: 25px;}
  .bascket-icon__number {
    top: -21%;
    right: -16%;
    font-size: 8px;
    width: 13px;
    height: 13px;}
	.header__phone {
		font-size: 18px;}
	.header__time-phone {
		display: none;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
	.footer {
		padding: 15px 0;}
	.footer__menu li {
		font-size: 14px;
    margin-bottom: 10px;}
	.footer__menu_first li {
		font-size: 18px;
		line-height: 1;}
  .footer__policy-link {
  	font-size: 12px;
    line-height: 1.3;
    color: #fff;}
  .footer__mail {
  	margin-bottom: 15px;}
  .footer__mail-text {
  	font-size: 14px;
  	margin-bottom: 5px;}
  .footer__mail-link {
    font-size: 18px;
    line-height: 1;}
  .footer__phone {
  	font-size: 20px;}
  .footer__time-phone {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;}
  .footer__callback {
    font-size: 18px;
  	padding: 3px 25px;
  	margin-top: 25px;}
 .footer__line {
 		margin-top: 15px;}
 	.footer__row_bottom {
 		margin-top: 15px;}
 	.footer__copyright {
 		font-size: 12px;}
 	.footer__soc-block-icon-link::before {
    background-size: 90%;}
	::-webkit-scrollbar {
    display: none;}
	.how-work__row {
    width: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    overflow-x: auto;}
	.how-work-info {
    flex: 0 0 21%;
    margin-right: 15px;}
  	.how-work-info:last-child {
    margin-right: 0;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
	.how-work-info {
    flex: 0 0 26%;}
}

@media (max-width: 540px) {
	.footer__column {
    flex: 0 1 100%;
    margin-right: 0;
    margin-bottom: 25px;}
	.footer__column:last-child {
    margin-bottom: 0;}
  	.footer__column {
		text-align: center;}
	.footer__row_bottom {
    justify-content: center;
    flex-direction: column;}
  .footer__copyright {
   	margin-top: 13px;}
  .footer__policy {
    align-items: center;}
  .how-work-info {
    flex: 0 0 33%;}
}

@media (max-width: 515px) {
	.logo-icon {
		height: 35px;}
	.bascket-icon {
		margin-top: -4.5px;}
	.mob-callback__phone {
    display: flex; 
		margin-right: 25px;}
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
}

@media (max-width: 414px) {
	.footer__callback {
		width: 100%;}
	 .how-work-info {
    flex: 0 0 43%;}
}

@media (max-width: 375px) {
	.bascket-icon {
		margin-right: 18px;}
	.header__contacts {
		margin-right: 8px;}
}

@media (max-width: 360px) {
	.header__contacts {
    flex: 0 0 128px;}
  .header__phone {
  	font-size: 16px;}
  .footer__soc-block-icon {
    width: 180px;}
  .how-work-info {
    flex: 0 0 50%;}
}